<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Income Tax Calculator</title>
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}" />
  </head>
  <body>
    <header>
      <nav>
        <h1>{{title}}</h1>
      </nav>
    </header>
    <section>
      <form action="/calculator" method="Get">
        <label for="income">Income:</label>
        <input type="text" name="income" id="income" />
        <input type="submit" value="Calculate" />
      </form>
    </section>
    <section>
      <table id="breakdownTable">
        <tr>
          <th>Tax Concept</th>
          <th>Amount Due:</th>
        </tr>
      </table>
    </section>

    <script
      type="text/javascript"
      src="{{url_for('static', filename='app.js')}}"
      fedTax="{{'${:,.2f}'.format(fedTax)}}"
      stateTax="{{'${:,.2f}'.format(stateTax)}}"
      ficaTax="{{'${:,.2f}'.format(ficaTax)}}"
      totalTax="{{'${:,.2f}'.format(totalTax)}}"
      netPay="{{'${:,.2f}'.format(netPay)}}"
    ></script>
  </body>
</html>
