<form
  class="p-4 p-md-5 border rounded-3 bg-light"
  action="/calculator"
  method="Get"
>
  <div class="form-floating mb-3">
    <input
      class="form-control"
      placeholder="25000"
      type="text"
      name="income"
      id="income"
      required
    />
    <label for="income">Income:</label>
  </div>
  <div class="form-group mb-3">
    <label for="selectState" class="visually-hidden">Select State:</label>
    <select class="form-control" id="selectState" name="state">
      <option value="">Select State</option>
    </select>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Calculate</button>
  <hr class="my-4" />
  <small class="text-muted"
    >By clicking Calculate, you agree to the terms of use.</small
  >
</form>
